.Header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    
}

.Header .tooltib{
width: 25%;
}

.Header .tte{
margin-left: 10%;
text-decoration: none;
color: white;
font-weight: bolder;
}